<div>
  <p>
    <strong>Title:</strong>
    <%= note.title %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= note.content %>
  </p>

  <% if user_signed_in? %>
    <p>
      <strong>Author:</strong>
      <%= User.find(note.user_id).username %>
    </p>
  <% end %>

</div>
