<%= render @note %>

<div>
  <% if current_user&.id == @note.user_id %>
    <%= link_to "Edit this note", edit_note_path(@note) %>
    <%= button_to "Destroy this note", @note, method: :delete %>
  <% end %>
  <%= link_to "Back to notes", notes_path %>
</div>
